<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.carleton.three_thousand_chore.comp3004">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NotificationsActivity"
            android:label="@string/title_notifications"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MapActivity"
            android:label="@string/title_map"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ScheduleActivity"
            android:label="@string/title_schedule"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SponsorsActivity"
            android:label="@string/title_sponsors"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LinksActivity"
            android:label="@string/title_links"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RequestHelpActivity"
            android:label="@string/title_request_help"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>